
/*#region General*/

.semi-bold {
    font-weight:600!important;
}

.body-color {
    color:#51618F;
    letter-spacing: 0.5px;
}

.centered {
    text-align: center;
}

.editing {
    filter:brightness(95%);
    background-color: #F1F6FF;
}

/*#endregion*/

/*#region Intro*/
.intro {
    background-color: #F1F6FF;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.intro-text {
    margin-left:10%;
    margin-top:14%;
    margin-bottom:5%;

    padding: 1%;

    border-radius: 30px;
    width:700px;
}

.picture {
    padding-top:5%;
    width: 20%;
    height: 20%;
    margin-left:15%;
}

.button {
    font-family:'Poppins', sans-serif;
    font-size:1em;
}
/*#endregion*/

/*#region Skills*/
.skills-div{
    margin-top: 2rem;
    margin-bottom: 5vh;
}

.skills-flex{
    margin-top:3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.skill{
    margin-right: 4vw;
}
/*#endregion*/

/* Icons */
.edit-icon {
    position: absolute;
    left: 102%;
    top:9%;
    cursor:pointer;

    font-size: 2em;
}
.editing-icon-zone{
    position: absolute;
    left: 102%;
    top: 0;
    cursor:pointer;
    
    filter:brightness(110%);
}

.editing-icon{
    font-size: 2em;
}

.red{
    color:red;
}

.green{
    color:green;
}

.editing-icon:hover{
    filter:brightness(70%)
}

/* Inputs */
.intro-title-input{
    width:80%;
    background:none;
}