<!-- TODO Fix bug when text box disappear when the text is empty -->
<!-- Intro About Me -->
<div class="intro">
    <!-- Text -->
    <div class="poppins dark-blue intro-text " [class.editing]="isIntroEditing">
        <!-- Job Title and Edit Icons -->
        <div style="position: relative">
            <!-- job title -->
            <h3 *ngIf="!model.intro.isTitleInput" class="semi-bold editable" (click)="isIntroEditing? model.intro.isTitleInput = true : false">{{model.intro.jobTitle}}</h3>
            <input *ngIf="isIntroEditing && model.intro.isTitleInput" [value]="model.intro.jobTitle" class="intro-title-input" (keyup.enter)="temporaryUpdateIntroTitle($event)">
            <!-- edit icons -->
            <i *ngIf="isEditable && !isIntroEditing" class="material-icons edit-icon" (click)="isIntroEditing=true">edit</i>
            <div *ngIf="isEditable && isIntroEditing" class="editing-icon-zone flex-row">
                <i class="material-icons editing-icon green" (click)="validateIntro()">check</i>
                <i class="material-icons editing-icon red" (click)="closeIntro()">close</i>
            </div>
        </div>
        <!-- Name -->
        <h1 *ngIf="!model.intro.isNameInput" class="semi-bold editable" (click)="isIntroEditing? model.intro.isNameInput = true : false">{{model.intro.name}}</h1>
        <input *ngIf="isIntroEditing && model.intro.isNameInput" [value]="model.intro.name" class="intro-name-input" (keyup.enter)="temporaryUpdateIntroName($event)">

        <!-- Description / About me -->
        <p *ngIf="!model.intro.isDescriptionInput" class="poppins body-color intro-description editable" (click)="isIntroEditing? model.intro.isDescriptionInput = true : false">{{model.intro.description}}</p>
        <textarea *ngIf="isIntroEditing && model.intro.isDescriptionInput" [value]="model.intro.description" class="intro-description-input" (keyup.enter)="temporaryUpdateIntroDescription($event)"></textarea>

        <!-- TODO: CV downloads -->
        <button mat-raised-button color="primary" class="button">Download my CV</button>
    </div>
    <!-- TODO fix the size of the picture ? => Be careful about pictures sizes given by users -->
    <img class="picture" src="../../../../assets/picture.png" alt="picture">
</div>

<!-- Skills -->
<div class="poppins dark-blue skills-div">
    <h1 class="centered semi-bold">My set of skills</h1>
    <div class="skills-flex">
        <!-- Todo create a for loop in html and a model in ts (necessary for backend - data collecting)-->
        <app-skill class="skill" [isEditable]="true"></app-skill>
        <app-skill class="skill" [isEditable]="true"></app-skill>
        <app-skill class="skill" [isEditable]="true"></app-skill>
    </div>
</div>

<!-- Projects -->
<div class="poppins dark-blue projects-div">
    <h1 class="centered semi-bold">The main projects I worked on</h1>
    <div class="skills-flex">
        <!-- Todo create a for loop in html and a model in ts (necessary for backend - data collecting)-->
        <app-project class="skill" [isEditable]="true"></app-project>
        <app-project class="skill" [isEditable]="true"></app-project>
    </div>
</div>

<!-- Contact Me -->
<div class="contact-me poppins dark-blue" [class.editing]="isContactEditing">
    <!-- edit icons -->
    <i *ngIf="isEditable && !isContactEditing" class="material-icons edit-icon-contact" (click)="isContactEditing=true">edit</i>
    <div *ngIf="isEditable && isContactEditing" class="editing-icon-zone-contact flex-column">
        <i class="material-icons editing-icon green" (click)="validateContact()">check</i>
        <i class="material-icons editing-icon red" (click)="closeContact()">close</i>
    </div>
    <!-- Contact Me Text -->
    <div class="contact-text">
        <h1 class="semi-bold">Contact me!</h1>
        <p *ngIf="!model.contact.isDescriptionInput" class="poppins body-color contact-description editable" (click)="isContactEditing? model.contact.isDescriptionInput = true : false">{{model.contact.description}}</p>
        <textarea *ngIf="isContactEditing && model.contact.isDescriptionInput" [value]="model.contact.description" class="contact-description-input" (keyup.enter)="temporaryUpdateContactDescription($event)"></textarea>
    </div>
    <!-- Contact Me Details -->
    <div class="contact-details light-blue-bg-1">
        <h3 class="semi-bold contact-details-title">My contact details</h3>
        <!-- Adress -->
        <div class="contact-detail">
            <i class="material-icons contact-icon">location_on</i>
            <p *ngIf="!model.contact.isAdressInput" class="poppins body-color contact-description editable" (click)="isContactEditing? model.contact.isAdressInput = true : false">{{model.contact.adress}}</p>
            <input *ngIf="isContactEditing && model.contact.isAdressInput" [value]="model.contact.adress" class="intro-name-input" (keyup.enter)="temporaryUpdateContactAdress($event)">
        </div>
        <!-- Phone -->
        <div class="contact-detail">
            <i class="material-icons contact-icon">local_phone</i>
            <p *ngIf="!model.contact.isPhoneInput" class="poppins body-color contact-description editable" (click)="isContactEditing? model.contact.isPhoneInput = true : false">{{model.contact.phone}}</p>
            <input *ngIf="isContactEditing && model.contact.isPhoneInput" [value]="model.contact.phone" class="intro-name-input" (keyup.enter)="temporaryUpdateContactPhone($event)">
        </div>
        <!-- Mail -->
        <div class="contact-detail">
            <i class="material-icons contact-icon">mail</i>
            <p *ngIf="!model.contact.isMailInput" class="poppins body-color contact-description editable" (click)="isContactEditing? model.contact.isMailInput = true : false">{{model.contact.mail}}</p>
            <input *ngIf="isContactEditing && model.contact.isMailInput" [value]="model.contact.mail" class="intro-name-input" (keyup.enter)="temporaryUpdateContactMail($event)">
        </div>
    </div>
</div>
        