
/*#region General*/

.semi-bold {
    font-weight:600!important;
}

.body-color {
    color:#51618F;
    letter-spacing: 0.5px;
}

.centered {
    text-align: center;
}

.editing {
    filter:brightness(95%);
    background-color: #F1F6FF;
}

.editing .editable {
    cursor: pointer;
}

/*#endregion*/

/*#region Intro*/
.intro {
    background-color: #F1F6FF;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.intro-text {
    margin-left:10%;
    margin-top:14%;
    margin-bottom:5%;

    padding: 1%;

    border-radius: 30px;
    width:700px;
}

.intro-description {
    width:100%;
}
.picture {
    padding-top:5%;
    width: 20%;
    height: 20%;
    margin-left:15%;
}

.button {
    font-family:'Poppins', sans-serif;
    font-size:1em;
}
/*#endregion*/

/*#region Skills*/
.skills-div{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.skills-flex{
    margin-top:3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skill{
    margin-right: 4vw;
}

.skill:last-child{
    margin-right: 0;
}
/*#endregion*/

/*#region Projects */
.projects-div{
    margin-top: 5rem;
}
/*#endregion*/

/*#region Icons */
.edit-icon {
    position: absolute;
    left: 102%;
    top:9%;
    cursor:pointer;

    font-size: 2em;
}
.edit-icon-contact {
    position: absolute;
    left: 90%;
    top:5%;
    cursor:pointer;

    font-size: 2em;
}

.editing-icon-zone{
    position: absolute;
    left: 102%;
    top: 0;
    cursor:pointer;
    
    filter:brightness(110%);
}

.editing-icon-zone-contact{
    position: absolute;
    left: 90%;
    top: 0;
    cursor:pointer;
    
    filter:brightness(110%);
}

.editing-icon{
    font-size: 2em;
}

.red{
    color:red;
}

.green{
    color:green;
}

.editing-icon:hover{
    filter:brightness(70%)
}
.edit-icon:hover {
    filter: brightness(150%);
}

.flex-column{
    display:flex;
}

.contact-icon{
    font-size:1.8rem;
    margin-bottom:1rem;
    margin-right:0.6rem;
    filter:brightness(150%);
}
/*#endregion*/

/*#region Inputs */
.intro-title-input{
    width:80%;
    height: 2.6em;
    background:none;
}

.intro-name-input{
    width:80%;
    height: 3.5em;
    background:none;
}

.intro-description-input{
    width:100%;
    height: 10em;
    background:none;
}

.contact-description-input{
    width:80%;
    height: 10em;
    background:none;
}
/*#endregion*/

/*#region Contact Me*/
.contact-me{
    position:relative;

    margin-top:4rem;
    margin-bottom:4rem;
    margin-left:1rem;
    margin-right:1rem;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
}

.contact-text{
    width:40%;
    margin-right:2vw;
}

.contact-description{
    width:80%;
    white-space:pre-wrap;
}

.contact-details-title{
    margin-bottom:1rem;
}

.contact-details{
    width:30vw;
    max-width: 800px;
    min-width:200px;
    height:15rem;
    padding: 2rem 3rem;
}

.contact-detail{
    /* margin-top:1rem; */
    display:flex;
    flex-direction: row;
    align-items: center;
}

/*#endregion*/
