<style>
  h1 {
    font-size: 2.5em;
    text-align: center;
  }
  h2 {
    font-size: 1em;
    text-align: center;
  }
  h2 {
    font-size: 1em;
    text-align: center;
  }
    footer {
      padding: 3px;
      background-color: rgb(245, 249, 255);
      color: rgb(43, 77, 136);
      
    }
    </style>
<footer><p><h1 style="font-family:Poppins;" >ICE 2023</h1><p><h2 style="font-family:Poppins;">contact@tanahair.cd</h2>
  <p><h2 style="font-family:Poppins;">@2022 EPITA. All rights reserved.</h2></footer>
