<style>
  h1 {
    font-size: 2.5em;
    text-align: center;
  }
  h2 {
    font-size: 1em;
    text-align: center;
  }
  h2 {
    font-size: 1em;
    text-align: center;
  }
  h3 {
    font-size: 1em;
    text-align: right;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logo {          
    display: flex;
    justify-content: flex-start;
  }
  .header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
  }
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    background-color: rgb(245, 249, 255);
    color: rgb(43, 77, 136);
      
  }
</style>


<footer>
  <div class="container">

  <div class="logo">
    <img src="../../../../assets/logos.png" alt="logo_ICE">
  </div>
  

  <div class="header-title">
    <h1 style="font-family:Poppins;" >ICE 2023</h1>
    <p>
      <div class="contact">
        <img src="../../../../assets/Icon_lettre.svg" alt="icon_lettre">
        <h2 style="font-family:Poppins;">contact@tanahair.cd</h2>
      </div>
    <p><h2 style="font-family:Poppins;">@2022 EPITA. All rights reserved.</h2>
  </div>

  <div class="left">
      <p><h3 style="font-family:Poppins;">Privacy Policy</h3>
      <p><h3 style="font-family:Poppins;">Terms and Conditions</h3>
  </div>
  
  </div>
  </footer>
