h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-size: 1em;
    text-align: center;
}

h2 {
    font-size: 1em;
    text-align: center;
}

h3 {
    font-size: 1em;
    text-align: right;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {          
    display: flex;
    justify-content: flex-start;
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

footer {
    width:100%;
    bottom:0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    background-color: rgb(245, 249, 255);
    color: rgb(43, 77, 136);
}

.fixed {
    position:fixed;
}