.project-card {
    position: relative;
    width:40vw;
    max-width: 800px;
    height:20rem;
    border:solid 1px lightgray;
    transition: all 0.2s linear;
    /* border-radius:30px; */
}

.editing .editable{
    cursor: pointer;
}

.project-card.expand {
    height:40rem;
}

.editing {
    filter:brightness(95%)
}

.inner {
    display: flex;
    flex-direction: column;

    margin-left:2vw;
    margin-right:2vw;
    margin-top:2rem;
    margin-bottom:2rem;
}

.see-more{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right:auto;
}

.see-more:hover{
    filter: brightness(150%);
}

.remove-margin-top {
    margin-top:revert;
}

/*#region Icons */
.edit-icon {
    position: absolute;
    left: 93%;
    top:1rem;
    cursor:pointer;

    font-size: 2em;
}

.editing-icon-zone{
    position: absolute;
    left: 93%;
    top:1rem;
    cursor:pointer;
    
    filter:brightness(110%);
}

.editing-icon{
    font-size: 2em;
}

.red{
    color:red;
}

.green{
    color:green;
}

.editing-icon:hover{
    filter:brightness(70%)
}

.edit-icon:hover {
    filter: brightness(150%);
}

.icon-see-more{
    transform: rotate(180deg);
    margin-left:0.5em;
    font-size: 1em;
    font-weight: 700;
    transition:all 0.2s linear
}

.icon-see-more.rotate{
    margin-bottom:0.4rem;
    transform: rotate(270deg);
}

.flex-column{
    display: flex;
}

/*#endregion*/

/*#region Inputs */

.title-input{
    width:80%;
    background:none;
}

.description-input{
    width: 100%;
    background:none;
    height: 9vh;
}

.visible{
    position:inherit!important;
    visibility: visible;
    animation-name:descriptionAppear;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.hidden{
    position:absolute;
    visibility: hidden;
}


@keyframes descriptionAppear {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*#endregion*/
