

    <div class="titre">
        <div class="EPITA">
            <h1 style="font-family:Poppins;">EPITA</h1>
        </div>
        <div class="portfolios">
            <h2 style="font-family:Poppins;">Portfolios</h2>
        </div>
    </div>
    <div class="contenu">
        <div class="texte">
            <h3 style="font-family:Poppins;">Qu'est-ce qu'un portfolio?</h3>
            <h4 style="font-family:Poppins;">
                <p>qsfdiudqbfiysvdbdipbqfpiuqbdqifb
                <p>qsfdiudqbfiysvdbdipbqfpiuqbdqifbqfsf
                <p>qsfdiudqbfiysvdbdipbqfpiuqbdqifb
            </h4>
            <h3 style="font-family:Poppins;">Pourquoi?</h3>
            <h4 style="font-family:Poppins;">
                <p>qsfdiudqbfiysvdbdipbqfpiuqbdqifb
                <p>qsfdiudqbfiysvdbdipbqfpiuqbdqifbqfsf
                <p>qsfdiudqbfiysvdbdipbqfpiuqbdqifb
            </h4>
        </div>
        <img src="../../../../assets/main_bleue.png" alt="main_bleue">
    </div>

