/* You can add global styles to this file, and also import other style files */

/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Poppins related */
.poppins {
    font-family: 'Poppins', sans-serif;
}


.poppins .h1 {
    font-size: 2.5em;
}

.poppins .h2 {
    font-size: 1.875em;
}

.poppins .p {
    font-size: 0.875em;
}

/* Couleurs */

/* Fond Bleu */
.light-blue-bg-1 {
    background-color: #F5F9FF;
}

.light-blue-bg-2 {
    background-color: #f1f6ff;
}

/* Bleu foncé */
.dark-blue {
    color: #2B4D88;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
